# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      build_version:
        description: 'New build version'
        required: true

jobs:
  create_release_branches:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: develop
        
    - name: Update git config
      run: |
           git config user.name github-actions
           git config user.email github-actions@github.com
    
    - name: Checkout new branch
      run: |
          git checkout -b "release/desktop-${{ github.event.inputs.build_version }}"
          
    - name: Update changelog and config
      run: |
           pwd
           chmod +x ./Scripts/bump-version.sh
           ./Scripts/bump-version.sh ${{ github.event.inputs.build_version }}
    
    - name: Checkout new branch
      run: |
           git add CHANGELOG.md
           git add Configs/Common.xcconfig
           git commit -m "feat: Bump version to ${{ github.event.inputs.build_version }}"
           git push -u origin "release/desktop-${{ github.event.inputs.build_version }}"                
    
    - name: Create PR to develop/master
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          gh pr create --base master --head "release/desktop-${{ github.event.inputs.build_version }}" --title "[Release] Desktop ${{ github.event.inputs.build_version }}"
          gh pr create --base develop --head "release/desktop-${{ github.event.inputs.build_version }}" --title "Bump version to ${{ github.event.inputs.build_version }}"
