# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      build_version:
        description: 'New build version'
        required: true

jobs:
  create_release_branches:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v2
      with:
        path: develop
        
    - name: Print variables
      run: echo "Hello ${{ github.event.inputs.build_version }}"
    
    - name: Checkout new branch
      run: |
          git checkout -b "release/desktop-${{ github.event.inputs.build_version }}
          
    - name: Update changelog and config
      run: ./Scripts/bump-version.sh ${{ github.event.inputs.build_version }}
      shell: bash  
    
    - name: Checkout new branch
      run: |
           git add CHANGELOG.md
           git add Configs/Common.xcconfig
           git commit -m "feat: Bump version to ${{ github.event.inputs.build_version }}""
           git push -u origin "release/desktop-${{ github.event.inputs.build_version }}"
